.gradient ul li {
  display: inline;
}
.gradient {
  text-align: center;
  padding: 5% 8% 2% 8%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.43771011822697825) 39%, rgba(16, 178, 178, 1) 139%);
}
.mob {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  top: 0;
  z-index: 20;
  background-color: #f9f9fa;
  box-shadow: -1px -10px 15px 0px #626262;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: black;
}

nav.black ul li a {
  color: #ffff00;
  transition: 0.3s;
}

nav.black .logo {
  color: #5ac8a5;
}

nav ul li {
  display: inline-block;
  padding: 0 1%;
}

nav ul li a {
  text-decoration: none;
  color: #10b2b2;
  font-size: 2.2rem;
  font-family: 'Nova Round', cursive;
  font-weight: 100;
}

nav ul li:hover a {
  text-decoration: none;
  color: white;
  font-size: 2.7rem;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: black;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: block;
}
contact .section-title {
  text-align: center;
  font-size: 3rem;
  position: relative;
  margin-bottom: 40px;
  margin-top: 0;
  color: white;
  font-family: 'Fondamento', cursive;
}

.contact {
  background-size: cover;
}

.contact .row {
  margin-left: 0;
  margin-right: 0;
}

.contact .container {
  padding: 0;
}

.contact * {
  padding: 0;
  margin: 0;
}

.contact img {
  width: 100%;
  animation-duration: 2s;
  height: 300px;
}

.contact h3 {
  font-family: 'Nova Round', cursive;
  font-size: 3rem;
  text-align: center;
  padding: 1% 1%;
  color: white;
  animation-duration: 2s;
  display: block;
}

.contact h1 {
  color: white;
  font-family: 'Spectral', serif;
  font-size: 3rem;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}

.gradient {
  text-align: center;
  padding: 1% 8% 2% 8%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.43771011822697825) 39%, rgba(16, 178, 178, 1) 139%);
}

.soc {
  margin-left: 0;
  margin-right: 0;
  padding: 28% 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  font-family: 'Nova Round', cursive;
  margin: 5px;
}

.soc li {
  font-size: 2rem;
  padding: 1% 1%;
  background-color: #ffffff00;
  border-radius: 50%;
  margin: 5px;
}

.soc li a {
  color: #10b2b2;
}

.links {
  margin: 2% 0 1% 0;
  padding: 0;
  padding: 28% 0;
}

.links li {
  padding: 0 1%;
}

.links li a {
  color: white;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

.second {
  margin-left: 0;
  margin-right: 0;
}

.ghayas {
  color: #ffff00;
}

.btn-cyan {
  background-color: #ffff00;
  border-radius: 100px;
  color: black;
  font-family: 'Nova Round', cursive;
  font-size: 1.2rem;
}

.gradient ul li {
  display: inline;
  transition: 0.6s;
}

.gradient ul li:hover {
  font-size: 2.2rem;
}

form h1 {
  font-family: 'Nova Round', cursive;
  color: white;
}

footer {
  background-color: black;
  padding: 0.5% 1%;
  color: #c3c3c3;
}

@media only screen and (max-width: 1134px) {

body{
	background-image: url("back/backs.png");
	  background-size: contain;
  cursor: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

 .soc {
    padding: 3% 0;
    margin: 0% 0%;
  }

  .soc li {
    font-size: 6rem;
    padding: 2% 3%;
  }
  .clientele .row .col {
    display: block;
  }

  .col-sm-6 {
    display: block;
    padding: 6%;
  }
  .col-sm-6 .team-item figcaption .social {
    margin-bottom: 0;
    opacity: 1;
    display: grid;
    margin-bottom: 6%;
    position: relative;
  }
.form-control{
    font-size: 2rem;
  }
  .btn-cyan{
    font-size: 2.2rem;
  }
 .h1 ,h1{
  font-size: 4.5rem;
 }
 .contact h3 {
    font-size: 3rem;
  }

.mob{
  display: block;
}
nav ul {
    max-height: 0px;
    background: black;
    padding: 0;
  }

  .showing {
    max-height: 34em;
    transition: 0.8s;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 1% 2%;
  }

  nav ul li a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
.gradient{
	font-size: 5rem;

}
.title {
  padding-left: 24%;
}
h1{
	color: white;
	font-family: 'Spectral', serif;
	padding-left: 2%;
	font-size: 5rem;
	padding-top:0%; 
}
.cyan {
	color: #10b2b2;
	font-family: 'Staatliches', cursive;
	font-size: 7rem;
	z-index: 1;
	width: 300px;
}
h2{
	font-size: 7rem;
  font-family: 'Staatliches', cursive;
  color: white;
  padding-top: 35%;
  z-index: 1;
  width: 300px;
}
p{
	color: white;
	text-align: left;
	font-size: 5.5rem;
	width: 50%;
	padding-left: 35%;
font-family: 'Staatliches', cursive;
}
.homefoot{
    color: white;
    font-size: 3rem;
  }
  .aboutfoot{
    color: white;
     font-size: 3rem;
  }
  .teamfoot{
    color: white;
  }
  .clientelefoot{
    color: white;
    font-size: 3rem;
  }
  .contactfoot{
    color: white;
  }
  .gradient ul li {
  display: inline;
}
.gradient {
  text-align: center;
  padding: 5% 8% 2% 8%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.43771011822697825) 39%, rgba(16, 178, 178, 1) 139%);
  padding: 26% 8% 2% 8%;
}
.links{
	font-size: 3rem;
	color: white;
	text-decoration: none;
  padding: 2% 0;
}
.homefoot {
    color: white;
    font-size: 4rem;
    font-family: arial;
    text-decoration: none;
   }
.clientelefoot{

	font-size: 4rem;
	font-family: arial;
	text-decoration: none;
}
.menu-wrap .menu>div>div>ul>li {
	font-size: 5.5rem;
	font-family: 'Monoton', cursive; 
}
.fa .fa-instagram{
	font-size: 3rem;
}
.cursive {
  font-family: 'Great Vibes', cursive;
  color: #ffff00;
}
.contact h1{
  font-size: 5rem;
}
.firstpara{
  padding-top: 520px;
  width: 83%;
}
}